LibraryClient/src/conf/xml-resources/web-service-references/LibraryWS/wsdl/localhost_8080/LibraryWS/LibraryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.emp.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.emp.foi.org/" name="LibraryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://web.emp.foi.org/" schemaLocation="http://localhost:8080/LibraryWS/LibraryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteMember">
<part name="parameters" element="tns:deleteMember"/>
</message>
<message name="deleteMemberResponse">
<part name="parameters" element="tns:deleteMemberResponse"/>
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<message name="editBook">
<part name="parameters" element="tns:editBook"/>
</message>
<message name="editBookResponse">
<part name="parameters" element="tns:editBookResponse"/>
</message>
<message name="deleteLoan">
<part name="parameters" element="tns:deleteLoan"/>
</message>
<message name="deleteLoanResponse">
<part name="parameters" element="tns:deleteLoanResponse"/>
</message>
<message name="getMembers">
<part name="parameters" element="tns:getMembers"/>
</message>
<message name="getMembersResponse">
<part name="parameters" element="tns:getMembersResponse"/>
</message>
<message name="getBooks">
<part name="parameters" element="tns:getBooks"/>
</message>
<message name="getBooksResponse">
<part name="parameters" element="tns:getBooksResponse"/>
</message>
<message name="getLoan">
<part name="parameters" element="tns:getLoan"/>
</message>
<message name="getLoanResponse">
<part name="parameters" element="tns:getLoanResponse"/>
</message>
<message name="addLoan">
<part name="parameters" element="tns:addLoan"/>
</message>
<message name="addLoanResponse">
<part name="parameters" element="tns:addLoanResponse"/>
</message>
<message name="editMember">
<part name="parameters" element="tns:editMember"/>
</message>
<message name="editMemberResponse">
<part name="parameters" element="tns:editMemberResponse"/>
</message>
<message name="addRow">
<part name="parameters" element="tns:addRow"/>
</message>
<message name="addRowResponse">
<part name="parameters" element="tns:addRowResponse"/>
</message>
<message name="addMember">
<part name="parameters" element="tns:addMember"/>
</message>
<message name="addMemberResponse">
<part name="parameters" element="tns:addMemberResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<portType name="LibraryWS">
<operation name="deleteMember">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/deleteMemberRequest" message="tns:deleteMember"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/deleteMemberResponse" message="tns:deleteMemberResponse"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/deleteBookResponse" message="tns:deleteBookResponse"/>
</operation>
<operation name="editBook">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/editBookRequest" message="tns:editBook"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/editBookResponse" message="tns:editBookResponse"/>
</operation>
<operation name="deleteLoan">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/deleteLoanRequest" message="tns:deleteLoan"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/deleteLoanResponse" message="tns:deleteLoanResponse"/>
</operation>
<operation name="getMembers">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/getMembersRequest" message="tns:getMembers"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/getMembersResponse" message="tns:getMembersResponse"/>
</operation>
<operation name="getBooks">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/getBooksRequest" message="tns:getBooks"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/getBooksResponse" message="tns:getBooksResponse"/>
</operation>
<operation name="getLoan">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/getLoanRequest" message="tns:getLoan"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/getLoanResponse" message="tns:getLoanResponse"/>
</operation>
<operation name="addLoan">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/addLoanRequest" message="tns:addLoan"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/addLoanResponse" message="tns:addLoanResponse"/>
</operation>
<operation name="editMember">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/editMemberRequest" message="tns:editMember"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/editMemberResponse" message="tns:editMemberResponse"/>
</operation>
<operation name="addRow">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/addRowRequest" message="tns:addRow"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/addRowResponse" message="tns:addRowResponse"/>
</operation>
<operation name="addMember">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/addMemberResponse" message="tns:addMemberResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://web.emp.foi.org/LibraryWS/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://web.emp.foi.org/LibraryWS/addBookResponse" message="tns:addBookResponse"/>
</operation>
</portType>
<binding name="LibraryWSPortBinding" type="tns:LibraryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LibraryWS">
<port name="LibraryWSPort" binding="tns:LibraryWSPortBinding">
<soap:address location="http://localhost:8080/LibraryWS/LibraryWS"/>
</port>
</service>
</definitions>